@import "tailwindcss";

@theme {
  --color-espresso: #3B2519;
  --color-coffee: #6F4E37;
  --color-latte: #D8C3A5;
  --color-cream: #EFE6DD;
  --color-offwhite: #FAF7F2;
}

html, body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}